@use './animation/bounce.module.scss';
@use './animation/ping.module.scss';
@use './animation/zigzag.module.scss';
@use './animation/fade.module.scss';
@import './animation/typed.module.scss';

$md: 768px;

.bouncing {
	animation: bounce bounce.$interval infinite;
}

.pingingA {
	animation: ping ping.$interval cubic-bezier(0, 0, 0.2, 1) infinite;
}

.pingingAA {
	animation: ping-restricted ping.$interval cubic-bezier(0, 0, 0.2, 1) infinite;
}

.pingingB {
	animation: ping ping.$interval 0.25s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.zigzag {
	animation: zigzag 7s ease-in-out infinite;
}

$delay: -0s;
$duration: 1.2s;
.glassMain {
	@media (min-width: $md) {
		animation: zoomIn $duration $delay ease-in-out backwards;
	}
}
.content {
	animation: focus $duration $delay ease-out backwards;
	@media (min-width: $md) {
		animation: zoomIn $duration $delay ease-in-out backwards,
			focus $duration ($delay + 1.5s) ease-out backwards;
	}
}
.tnc {
	animation: fadeInTopRight $duration calc($delay + 0s) ease-out backwards;
	@media (min-width: $md) {
		animation: none;
	}
}
.tncBig {
	animation: fadeInTopRight $duration calc($delay + 0s) ease-out backwards;
}

$delay: calc($duration + $delay);
$duration: 1s;
.glassBack {
	animation: fadeInLeft $duration $delay ease-out backwards;
}
.glassFront {
	animation: fadeInRight $duration $delay ease-out backwards;
}

$delay: calc($duration + $delay + 1.8s);
$duration: 0.6s;
$sm-lead: 0.6s;
.h2 {
	animation: reveal $duration ($delay - $sm-lead) ease-in-out backwards;
	@media (min-width: $md) {
		animation: reveal $duration $delay ease-in-out backwards;
	}
}
$delay: calc($duration + $delay - 0.2s);
.button {
	animation: reveal $duration ($delay - $sm-lead) ease-in-out backwards;
	@media (min-width: $md) {
		animation: reveal $duration $delay ease-in-out backwards;
	}
}

.typewriter {
	@include typed(
		'Terms & conditions',
		'Privacy policy',
		'Terms of service',
		'Data agreement',
		(
			pause-deleted: 0.33,
		),
		(
			caret-color: #ec4899,
			caret-width: 0.25rem,
			caret-speed: 0.75,
		)
	);
}
